.Container {
  height: 100dvh;
  width: 100%;
  position: relative;

  .ContentContainer {
    background-color: var(--background-50);
    display: flex;
    height: 100dvh;
    overflow: scroll;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
