.mainContainer {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .leftSection {
    cursor: pointer;
  }
  .titleSection {
    font-size: 18px;
    font-weight: bold;
    color: var(--black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .rightSection {
    cursor: pointer;
    .button {
      cursor: pointer;
      border-radius: 8px;
      width: 60px;
      height: 26px;
      border: none;
      background-color: var(--violet-150);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: lighter;
      color: var(--white);
    }
  }

  &.whiteBackground {
    background-color: var(--white);
  }

  &.purpleBackground {
    background-color: var(--background-50);
  }
}
