.Container {
  width: 100%;
  height: 100dvh;
  overflow: scroll;
  background-color: var(--background-50);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  margin-top: 30px;
}

.ResendBox {
  display: flex;
  align-items: center;
  color: var(--gray-200);
  font-size: 12px;
  gap: 5px;
}

.Span {
  margin-left: 5px;
  border-bottom: 1px solid var(--gray-200);
}

.ButtonBox {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}
