.buttonSection {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px 10px 0 0;
  border: 1px solid #ababab;
  position: relative;
  height: 70px;

  &::after {
    content: "";
    position: absolute;
    bottom: -3.5px;
    left: -1px;
    right: -1px;
    height: 3px;
    background-color: var(--gray-200);
  }
}
.icon {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}
.button {
  flex: 1;
  border: none;
  background: none;
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divider {
  width: 0.5px;
  height: 50%;
  background-color: var(--black);
}
