.chatItem {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
}

.profileImage {
  width: 53px;
  height: 51px;
  border-radius: 50%;
  margin-right: 7px;
  margin-bottom: 10px;
}

.chatContentWrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-200);
  padding-bottom: 20px;
}

.chatContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.groupName {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pinnedIcon {
  width: 16px;
  height: 16px;
}

.lastMessage {
  font-size: 14px;
  color: var(--gray-200);
  margin-top: 9px;
}

.timeInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  gap: 5px;
  padding: 10px 0;
  position: relative;
  transform: translateY(-30%);
}

.time {
  font-size: 13px;
  color: var(--gray-200);
}

.arrowIcon {
  width: 16px;
  height: 16px;
  color: var(--gray-200);
}

.notification {
  width: 20px;
  height: 20px;
  background-color: var(--violet-100);
  color: var(--white);
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
  right: 25px;
}
