.Container {
  width: 350px;
  height: 35px;
  border-radius: 15px;
  background-color: var(--violet-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText {
  color: var(--white);
}
