.Container {
  font-size: 14px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray-200);
}

.ButtonText {
  font-weight: 700;
  color: var(--violet-100);
  border-bottom: 1px solid var(--violet-100);
  width: fit-content;
}
