.Container {
  width: fit-content;
  min-width: 40px;
  height: 26px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 8px;
  gap: 3px;
  padding: 5px;
  cursor: pointer;
}

.white {
  background-color: var(--white);
  color: var(--gray-200);
  border: 1px solid var(--gray-100);
}

.purple {
  background-color: var(--violet-150);
  color: var(--white);
}

.purple_light {
  background-color: var(--violet-50);
  color: var(--white);
}

.gray {
  background-color: var(--gray-100);
  color: var(--black);
}

.red {
  background-color: var(--error);
  color: var(--white);
}
