.notificationItemContainer {
  width: 100%;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  align-items: center;

  .leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rightSection {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    font-weight: lighter;
    .eventTypeText {
      font-weight: 400;
      color: #0d0d0d;
    }

    .contentsText {
      max-width: 270px;
      color: var(--gray-800);
    }

    .createdTimeText {
      font-size: 10px;
      color: var(--gray-200);
    }

    .redDotIcon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
