.CardContainer {
  width: 350px;
  align-items: stretch;
  background-color: var(--white);
  border-radius: 32px;
  display: flex;
  padding: 10px;
  gap: 15px;

  .LeftBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line {
    border-right: 1px solid var(--gray-100);
  }

  .RightBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;

    .RightTopP {
      font-size: 14px;
      color: var(--gray-800);
    }

    .RightContentBox {
      font-size: 10px;
      color: var(--gray-200);
    }
  }
}

//MemberCard
.profileImage {
  width: 38px;
  height: 37px;
  border-radius: 100%;
}

//DateCard
.MembersNum {
  color: var(--gray-800);
}
.Possible {
  color: var(--violet-300);
}

//Rank
.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  padding-top: 15px;

  .Crown {
    position: absolute;
    left: 40px;
    bottom: 30px;
  }

  .RankContainer {
    width: 64px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--white);
  }
  .InfoContainer {
    width: 275px;
    height: 38px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);

    .MembersBox {
      display: flex;
    }
  }
}
