.Container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .TabBox {
    height: 36px;
    display: flex;
    width: 100%;
    gap: 0;
  }

  .tabButton {
    flex: 1;
    padding: 12px 20px;
    background: var(--background-50);
    color: var(--gray-200);
    cursor: pointer;
    border-radius: 20px 20px 0 0;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 -3px 2px rgba(69, 21, 99, 0.2);
  }

  .active {
    background: var(--background-100);
    color: var(--black);
    font-weight: bold;
    position: relative;
    box-shadow: 0 -3px 2px rgba(69, 21, 99, 0.2);
  }

  .ContentBox {
    height: 100%;
    background: var(--background-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px 0;

    .NoOne {
    }
  }
}
