.container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-50);
}

.profileItems {
  margin-top: 20px;
  padding: 0 25px;

  > div {
    margin-bottom: 25px;
  }
}

.footerButtons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  padding-bottom: 40px;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 뿌연 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}
