.Container {
  display: flex;
  font-size: 14px;
  color: var(--gray-200);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.SaveIdBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Cursor {
  cursor: pointer;
}
