.Container {
  width: 94px;
  height: 106px;
  position: absolute;
  z-index: 70;
  top: 40px;
  right: 10px;
  background-color: var(--white);
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;

  .Section {
    flex: 1;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    color: var(--gray-800);
  }
}
