.chatPage {
  background-color: var(--background-50);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .header {
    margin-bottom: 10px;
    box-shadow: 0 4px rgba(188, 114, 198, 0.04);
  }

  .chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .ChatItemContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .EnterChatRoom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: var(--gray-800);
      }

      .SentByMe {
        align-self: flex-end;
      }

      .Date {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: var(--gray-800);
      }
    }
  }
  .ImageContainer {
    background-color: var(--white);
    display: flex;

    .DeleteIcon {
      background-color: var(--black);
      border-radius: 100%;
      position: absolute;
      right: 10px;
      cursor: pointer;
    }

    .Image {
      width: 100%;
    }
  }
  .BottomContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

    .Cursor {
      cursor: pointer;
    }
  }
}
