.groupNameInput {
  width: 351px;
  height: 55px;
  border: 1px solid #b9b8b9;
  border-radius: 12px;
  font-size: 16px;
  color: var(--gray-800);
  background-color: var(--botton);
  padding: 0 16px;
  box-sizing: border-box;
}
