.container {
  margin-bottom: 20px;

  .label {
    font-size: 14px;
    color: #505051;
  }

  .input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #484848;
    padding: 11px 0;
    width: 100%;
  }
}
