//Common

.BoxContainer {
  width: 360px;
  min-height: 40px;
  border-radius: 5px;
  font-size: 15px;
  background-color: var(--white);
  border: 1px solid var(--gray-800);
  display: flex;
  align-items: center;
  padding-left: 5px;
}

//TitleBox

//TimeBox

//LocationBox

//ParticipantsBox

//MemoBox
