.Container {
  background-color: var(--background-50);
  height: 100dvh;

  .Border {
    height: 17px;
    background-color: var(--violet);
  }

  .ContentBox {
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.TitleP {
  font-size: 18px;
}
