.Container {
  background-color: var(--background-50);
  height: 100vh;
  position: relative;
  overflow: auto;
  padding-bottom: 80px;
  scrollbar-width: none;

  .Border {
    height: 17px;
    background-color: var(--violet);
  }

  .ContentBox {
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .AddIcon {
    cursor: pointer;
    position: sticky;
    z-index: 10;
    bottom: 15%;
    left: 80%;
  }
}

.TitleP {
  font-size: 18px;
}
