.Container {
  width: 360px;
  max-height: 230px;
  overflow: scroll;
  background-color: var(--white);
  border-radius: 0 0 5px 5px;
  border-top: none;
  border: 1px solid var(--gray-200);
  padding: 13px;

  .ItemBox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-200);
    font-size: 12px;
    color: var(--gray-200);
    gap: 8px;

    .Checkbox {
      cursor: pointer;
    }

    .ProfileImg {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--gray-200);
    }
  }
}
