.Container {
  height: 100svh;
  background: var(--background-50);
  position: relative;
  overflow: scroll;

  .ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: calc(100% - 56px);

    .InfoBox {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .Date {
        font-size: 20px;
      }
    }

    .TabBox {
      width: 100%;
      flex: 1;
    }
  }
}
