.mainContainer {
  width: 100%;
  height: 100dvh;
  background-color: var(--background-50);
  overflow: scroll;
  scrollbar-width: none;
  .contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .searchContainer {
      display: flex;
      margin-top: 10px;
      justify-content: center;
    }
    .line {
      background-color: var(--button);
      height: 4px;
      width: 100%;
    }
    .friendContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      padding: 0 24px;
      .friendText {
        font-size: 15px;
        font-weight: lighter;
        color: var(--gray-200);
      }
    }
  }
}
