.bubbleContainer {
  display: flex;
  align-items: end;
  max-width: 100%;
  gap: 5px;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profileImage {
    border: 1px solid var(--gray-200);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .SenderName {
    font-size: 12px;
    color: var(--gray-800);
  }
}

.MiddleContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.UnreadCount {
  font-size: 10px;
}

.bubble {
  padding: 6px 12px;
  border-radius: 10px;

  .image {
    width: 100%;
  }
}

.sent {
  justify-content: flex-end;

  .bubble {
    background-color: var(--violet-50);
    border-top-right-radius: 5px;
    align-items: flex-end;
  }
}

.received {
  justify-content: flex-start;

  .bubble {
    background-color: var(--violet);
    border-top-left-radius: 5px;
    align-items: flex-end;
  }
}

.time {
  font-size: 11px;
  color: var(--gray-200);
}

.MyTimeUnreadCountBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TimeUnreadCountBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  height: 100%;
}
