.mainContainer {
  width: 100%;
  height: 100svh;
  background-color: var(--background-50);
  .contentContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;

    .topSection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      height: 200px;
      font-size: 20px;
      color: var(--gray-800);
      .profileImageSection {
        position: relative;
        width: 130px;
        height: 130px;
        border: 1px solid var(--background-50);
        cursor: pointer;
        .profileEditIcon {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(-50%, -10%);
        }
      }
    }

    .middleSection {
      font-size: 14px;
      color: var(--gray-800);
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 20px;
      .birthSection {
        display: flex;
        flex-direction: column;
        .birthTextSection{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .button{
            cursor: pointer;
          }
        }
        .datePickerSection {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 350px;
          height: 82px;
          background-color: var(--background-50);
          border-radius: 10px;
          margin-top: 10px;
          box-shadow:
          /* 아래쪽 그림자 */
            0 4px 4px rgba(0, 0, 0, 0.1),
            /* 왼쪽 그림자 */ -2px 2px 4px rgba(0, 0, 0, 0.05),
            /* 오른쪽 그림자 */ 2px 2px 4px rgba(0, 0, 0, 0.05);
        }
        .birthInput {
          height: 40px;
          font-size: 20px;
          cursor: pointer;
          background-color: inherit;
          display: flex;
          align-items: center;
          border: none;
          border-bottom: 1px solid var(--gray-800);
        }
        .errorMessage {
          color: var(--error);
          font-size: 10px;
        }
      }
    }
  }
}
